{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "import/extensions": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "no-bitwise": ["error", { "allow": ["~"] }],
        "no-underscore-dangle": ["error", { "allowAfterThis": true }],
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true,
                "variables": true
            }
        ],
        "no-restricted-syntax": [
            "error",
            {
              "selector": "ForInStatement",
              "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
            },
            {
              "selector": "LabeledStatement",
              "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
            },
            {
              "selector": "WithStatement",
              "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
            }
        ]
    }
}
