name: Racket CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    timeout-minutes: 20
    strategy:
      fail-fast: false 
      matrix:
        racket-version: [ '6.12', '7.0', '7.4', '7.5', '7.6', '7.7', '7.8' ]
        experimental: [false]
        include:
          - racket-version: '8.0'
            experimental: true
          - racket-version: '8.1'
            experimental: true
    name: Racket ${{ matrix.racket-version }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Racket
        uses: Bogdanp/setup-racket@v1.3.1
        with:
          architecture: 'x64'
          version: ${{ matrix.racket-version }}
      - run: raco pkg install --auto -t dir racketscript-compiler/
      - run: make unit-test
      - run: make integration-test
